<div id="intro">
    <div class="logo-container">
        <div class="logo">
            <a href="<%- url_for('/') %>">
                <%- image_tag('images/logo.gif', {alt: "Logo"}) %>
            </a>
        </div>
        <h1><%- title %></h1>
    </div>

    <% if(displayIntroText) { %>
        <p>Unser Verein ist mehr als nur ein Ort, an dem wir unsere Leidenschaft für Tischfußball teilen - wir sind eine
            Gemeinschaft, die sich für den Sport begeistert. Ob Anfänger oder erfahrener Spieler, bei uns ist jeder
            willkommen! Tauche ein in die spannende Welt des Tischfußballs und werde Teil unserer Community!
        </p>
    <% } %>
</div>
