<%- partial('_partial/intro', {title: "Tischfußball<br>Mannheim e.v.", displayIntroText: true}) %>
<%- partial('_partial/navigation', {omitID: false}) %>
<div id="main">
    <!-- Featured Post -->
    <article class="page">
        <h3>Tischfußball Mannheim - Willkommen beim Kickerclub Mannheim</h3>
        <p>Tischfußball Mannheim ist der größte Tischfußballverein in der Metropolregion. Wir haben über xy Mitglieder
            und besteht nun nach einer Gründung 20xx seit über xx Jahren! Wir sind begeisterte Kicker Spieler und haben
            das Ziel gemeinsam voneinander zu lernen und den Tischfußballsport für immer mehr Leute interessant zu
            machen. Außerdem geht's darum zusammen Spaß zu haben.</p>
        <%- image_tag('images/trainingsraum.jpg', 'Unser Trainingsraum') %>

        <h3 style="padding-top: 2rem">Vereinsheim und Kontaktinformationen:</h3>
        <p>Wenn du uns besuchen und mit uns kickern möchtest, ist es am besten wenn du uns <a
                    href="mailto:info@tischfussball-mannheim.de?subject=Ich%20will%20kickern">eine E-Mail</a> schreibst
            oder einfach zu unseren regelmäßigen <a href="#training">Trainingszeiten</a> vorbeikommst. Jeen Freitag haben wir ein offenes Training. Wir sind im Speckweg 6, 68159 Mannheim zu finden.</p>
        <div>Hier findest du eine Karte mit unserem Standort:</div>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <div id="map" style="padding-top: 56.25%; margin-bottom: 2rem"></div>
        <script>
            var map = L.map('map', {scrollWheelZoom: false}).setView([49.52400, 8.48363], 15);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);
            L.marker([49.52400, 8.48363]).addTo(map)
                .bindPopup('Tischfußball Mannheim<br>Speckweg 6<br>68159 Mannheim')
                .openPopup();
        </script>

        <h3>DYPs und Turniere</h3>
        <p>2024 veranstaltet Tischfußball Mannheim wieder DYPs und - neu - Turniere, zu denen man als festes Doppel antritt. Weitere Infos und Termine folgen.</p>

        <h3>Trainingszeiten:</h3><a id="training" class="anchor"></a>
        Wir treffen uns mindestens zweimal pro Woche zum Trainieren und Spielen. Unsere aktuellen Trainingszeiten sind
        <table>
            <thead>
            <tr>
                <th>Tag</th>
                <th>Zeit</th>
                <th>Programm</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Montag</td>
                <td>—</td>
                <td>—</td>
            </tr>
            <tr>
                <td>Dienstag</td>
                <td>19 - 24 Uhr</td>
                <td>Training</td>
            </tr>
            <tr>
                <td>Mittwoch</td>
                <td>—</td>
                <td>—</td>
            </tr>
            <tr>
                <td>Donnerstag</td>
                <td>—</td>
                <td>—</td>
            </tr>
            <tr>
                <td>Freitag</td>
                <td>20 - 01 Uhr</td>
                <td>Offenes Training oder Turnier</td>
            </tr>
            <tr>
                <td>Samstag</td>
                <td>—</td>
                <td>—</td>
            </tr>
            <tr>
                <td>Sonntag</td>
                <td>18 Uhr</td>
                <td>1x im Monat: Turnier</td>
            </tr>
            </tbody>
        </table>

    </article>
</div>
