<%- partial('_partial/intro', {title: "Tischfußball<br>Mannheim e.v.", displayIntroText: true}) %>
<%- partial('_partial/navigation', {omitID: false}) %>
<div id="main">
    <!-- Featured Post -->
    <article class="page">
        <h3>Tischfußball Mannheim - Willkommen beim Kickerclub Mannheim</h3>
        <p>Tischfußball Mannheim ist der größte Tischfußballverein in der Metropolregion. Wir haben über xy Mitglieder und besteht nun nach einer Gründung 20xx seit über xx Jahren! Wir sind begeisterte Kicker Spieler und haben das Ziel gemeinsam voneinander zu lernen und den Tischfußballsport für immer mehr Leute interessant zu machen. Außerdem geht's darum zusammen Spaß zu haben.</p>

        <h3>Standort und Kontaktinformationen:</h3>
        <p>Wenn du uns besuchen möchtest, ist es am besten wenn du uns <a href="mailto:info@tischfussball-mannheim.de?subject=Ich%20will%20kickern">eine E-Mail</a> schreibst oder einfach zu unseren regelmäßigen <a href="#training">Trainingszeiten</a> vorbeikommst. Wir sind im Speckweg 6, 68159 Mannheim zu finden.</p>

        <h3>Trainingszeiten und -orte:</h3><a id="training" class="anchor"></a>
        <p>Angabe der Trainingszeiten und -orte für Interessenten, die dem Verein beitreten möchten.
        "Unsere Trainings finden jeden Dienstag und Donnerstag von 18:00 bis 20:00 Uhr in unserem Vereinsheim statt. Kommen Sie vorbei und trainieren Sie mit uns!"</p>

    </article>
</div>
