<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <script src="/tfbm/js/jquery.min.js"></script>
    <script src="/tfbm/js/jquery.scrollex.min.js"></script>
    <script src="/tfbm/js/jquery.scrolly.min.js"></script>
    <script src="/tfbm/js/browser.min.js"></script>
    <script src="/tfbm/js/breakpoints.min.js"></script>
    <script src="/tfbm/js/main.js"></script>
</body>
</html>
