<%- partial('_partial/navigation') %>
<%- partial('_partial/intro', {title: page.title, displayIntroText: false}) %>
<div id="main">
    <!-- Featured Post -->
    <article class="page">
        <%- page.content %>
    </article>
</div>
