<div id="intro">
 Intro
</div>
<%- partial('_partial/navigation') %>
<div id="main">
    <!-- Featured Post -->
    <article class="post featured">
        <header class="major">
            <h2><%- page.title %></h2>
            <p>Am 01. Mai 2024 ist Tischfußball Mannheim in den Speckweg 6 in 68305 Mannheim umgezogen.</p>
        </header>
        <%- page.content %>
    </article>
</div>
